
body{
  font-family: 'Montserrat', sans-serif;
  color: white;
  border-color: #28a19d;
  border-width: thick;
  margin:auto;
  background-color: #131e40;
}

h1{
  align-items: center;
}




.signUp{
  margin: auto;
}
